{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="px-0 md:px-[70px] lg:px-[96px] xl:mx-auto max-w-[1024px] flex justify-center items-center">
    <div class="flex flex-col justify-center items-center my-[200px]">
        <p class="text-[41.96px] md:text-[78.22px] font-medium">404 Not Found</p>
        <p class="text-[11.22px] font-normal">Your visited page not found. You may go to home page</p>
        <button class="bg-red-400 text-white p-2 rounded-sm my-4 text-[11.2px]">Back to Home Page</button>
    </div>
</div>
{% endblock content %}