{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="px-0 md:px-[70px] lg:px-[96px] xl:mx-auto max-w-[1024px]">

    <div class="py-10 mx-10 md:mx-0">
        <a class="cursor-pointer font-thin" href="#">Account/My Account/ Product / View Cart/ CheckOut</a>
    </div>

    <h1 class="text-xl font-semibold mx-10 md:mx-0">Billing Details</h1>


   <div class="block lg:flex justify-between mt-[50px] mb-[60px]">
        <div class="sm:flex sm:justify-center lg:flex-1 mx-10 md:mx-0 md:block">
            <form class="w-full" id="form">
                <div id="form-wrapper">
                    <div class="pb-8">
                        <label for="">Name:</label>
                        <input type="text" class="w-full h-[40px] items-center border border-slate-600 rounded-sm bg-slate-200" name="name">
                    </div>
                    <div class="pb-8">
                        <label for="">Email:</label>
                        <input type="text" class="w-full h-[40px] items-center border border-slate-600 rounded-sm bg-slate-200" name="email">
                    </div>
                </div>
                <div id="shipping-info">
                    <h1>Shipping Address</h1>
                    <div class="pb-8">
                        <label for="">Address:</label>
                        <input type="text" class="w-full h-[40px] items-center border border-slate-600 rounded-sm bg-slate-200" name="address">
                    </div>
                    <div class="pb-8">
                        <label for="">City:</label>
                        <input type="text" class="w-full h-[40px] items-center border border-slate-600 rounded-sm bg-slate-200" name="city">
                    </div>
                    <div class="pb-8">
                        <label for="">State:</label>
                        <input type="text" class="w-full h-[40px] items-center border border-slate-600 rounded-sm bg-slate-200" name="state">
                    </div>
                    <div class="pb-8">
                        <label for="">Zip Code</label>
                        <input type="text" class="w-full h-[40px] items-center border border-slate-600 rounded-sm bg-slate-200" name="zipcode">
                    </div>
                </div>
                <button id="form-button"class="bg-red-500 w-full p-2 text-white rounded-sm" >Continue</button>
            </form>
            <div class="hidden" id="payment-info">
                <small class="flex-1">Paypal Options:</small>
                <div id="paypal-button-container"></div>
                <!-- <button class="flex-1 mt-3 bg-red-500 rounded-sm h-[40px] text-white flex justify-center items-center w-full" id="make-payment">Make Payment</button> -->
            </div>
        </div>

        <!-- Cart Total start -->
        <div class="flex-1 flex justify-center lg:justify-end">
            <div class="w-[375px] h-[432.27px] border border-slate-700 py-2 px-4 rounded-md">
                <div class="font-semibold text-lg mb-3">Cart Totoal</div>
                <div class="flex justify-between">
                    <div class="flex-1">Total Value:</div>
                    <div class="flex-1 flex justify-end">$ {{order.get_cart_total}}</div>
                </div>
                <hr class="border-t-1 border-slate-400 my-2">
                <div class="flex justify-between">
                    <div class="flex-1">Qty:</div>
                    <div class="flex-1 flex justify-end">{{order.get_cart_items}}</div>
                </div>
                <hr class="border-t-1 border-slate-400 my-2">
                <div class="flex justify-between">
                    <div class="flex-1">Shipping:</div>
                    <div class="flex-1 flex justify-end">Free</div>
                </div>
                <hr class="border-t-1 border-slate-400 my-2">
                <div class="flex justify-between mb-3">
                    <div class="flex-1">Total:</div>
                    <div class="flex-1 flex justify-end">$ {{order.get_cart_total}}</div>
                </div>

                <form class="flex justify-between md:justify-start space-x-3">
                    <input type="text" class="w-[150px] h-[40px] items-center border border-slate-600 rounded-sm" placeholder="Coupon Code">
                    <button type="submit" class="bg-red-500 rounded-sm w-[150px] h-[40px] text-white">Apply Coupon</button>
                </form>
            </div>
        </div>
        <!-- Cart Total end -->
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=Ad3Cq72Hl4u9BS354UkTmUCq51VccW50-ir5qIDzQJeWpe2l2hibUoI3URuPwVdH6dXiMXdBMXC8oeJj&currency=USD"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style:{
            color:'black',
            shape:'rect',
        },

        // Call your server to set up the transaction
        createOrder: function(data, actions) {
            return fetch('/demo/checkout/api/paypal/order/create/', {
                method: 'post'
            }).then(function(res) {
                return res.json();
            }).then(function(orderData) {
                return orderData.id;
            });
        },

        // Call your server to finalize the transaction
        onApprove: function(data, actions) {
            return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                method: 'post'
            }).then(function(res) {
                return res.json();
            }).then(function(orderData) {
                // Three cases to handle:
                //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                //   (2) Other non-recoverable errors -> Show a failure message
                //   (3) Successful transaction -> Show confirmation or thank you

                // This example reads a v2/checkout/orders capture response, propagated from the server
                // You could use a different API or structure for your 'orderData'
                var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                    return actions.restart(); // Recoverable state, per:
                    // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                }

                if (errorDetail) {
                    var msg = 'Sorry, your transaction could not be processed.';
                    if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                    if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                    return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                }

                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }

    }).render('#paypal-button-container');
</script>
<script type="text/javascript">
    var user = '{{request.user}}'
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total|floatformat:2}}'
    if(shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    // document.getElementById('make-payment').addEventListener('click',function(e){
    //     submitFormData()
    // })

    function submitFormData(){
        console.log('Payment button clicked')
        var userFormData = {
            'name': null,
            'email':null,
            'total':total,
        }
        var shippingInfo = {
            'address': null,
            'city': null,
            'state':null,
            'zipcode':null,
        }

        if(shipping != 'False'){
            shippingInfo.address= form.address.value
            shippingInfo.city= form.city.value
            shippingInfo.state= form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if(user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }else{
            userFormData.name= '{{request.user}}'
            userFormData.email= '{{request.user.email}}'
        }

        console.log('ShippingInfo:', shippingInfo)
        console.log('UserInfo:', userFormData)

        var url= "/process_order/"
        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'form': userFormData, 'shipping':shippingInfo}),
        })
        .then((response)=>response.json())
        .then((data)=>{
            console.log('Success', data);
            alert('Transaction completed')
            cart={}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            window.location.href = "{% url 'contact' %}"
        })
    }

    if(user != 'AnonymousUser'){
        document.getElementById('form-wrapper').classList.add('hidden');
    }

</script>
{% endblock content %}