<div class="py-4 mb-1 px-0 md:px-[70px] lg:px-[96px] text-center max-w-[1024px] mx-auto mt-[76px]">
    <div class="h-auto mb-4">
        <div class="flex flex-col md:flex-row">
            <div class="bg-red-400 h-[28.44px] w-[14.22px] rounded-[4px]"></div>
            <div class="h-[28.44px] w-[20px] rounded-[4px] font-poppins text-red-400 text-[11.3px] flex items-center ml-[16px]">Today's</div>
        </div>
        <div class="h-auto flex justify-between">
            <div class="flex items-center h-full">
                <div class="flex items-center text-[25.6px] font-semibold">Flash Sales</div>
                <span class="font-poppins flex items-center text-[22.76px] ml-[95px]">03 : 29: 31 : 56</span>
            </div>
            <div class="rounded-[4px] font-poppins text-base hidden lg:flex items-center justify-end h-full">
                <div class="flex space-x-4 ml-2">
                    <div class="flex items-center justify-center space-x-4" id="chevronButA">
                        <div class="bg-gray-200 rounded-full p-2 hover:bg-gray-300">
                            <button onclick="slideRight()" class="text-gray-600 text-bold btnn">&larr;</button>
                        </div>
                        <div class="bg-gray-200 rounded-full p-2 hover:bg-gray-300">
                            <button onclick="slideLeft()" class="text-gray-600 btnn">&rarr;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards Start -->
     <div id="container" class="h-auto flex items-center">
         <div class="h-auto w-full overflow-hidden" id="slider-container">
            <!-- by using w-full, I could make it responsive like others div -->
            <div id="slider" class="flex transition-all duration-500 gap-4 max-w-[850px]">
                    {% for product in products%}    
                    <!-- Repeat for each card -->
                    <div class="min-w-[192px] max-w-[192px] h-[250.76px] bg-customGray shadow-lg rounded-md group relative slide">
                        <img src="{{product.imagefourURL}}" alt="Thumbnail" class="w-full h-auto object-cover" />
                        <div class="bg-white w-7 h-7 rounded-xl bottom-[215px] left-[162px] absolute flex justify-center items-center">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.13333 5.68872C6.16995 5.68872 4.57777 7.26454 4.57777 9.20872C4.57777 10.7781 5.2 14.5029 11.3248 18.2683C11.4345 18.335 11.5605 18.3703 11.6889 18.3703C11.8173 18.3703 11.9433 18.335 12.053 18.2683C18.1778 14.5029 18.8 10.7781 18.8 9.20872C18.8 7.26454 17.2078 5.68872 15.2444 5.68872C13.2811 5.68872 11.6889 7.82205 11.6889 7.82205C11.6889 7.82205 10.0967 5.68872 8.13333 5.68872Z" stroke="black" stroke-width="1.06667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <div class="bg-white w-7 h-7 rounded-xl bottom-[185px] left-[162px] absolute flex justify-center items-center">
                            <a href="{% url 'productdetail' product.id %}">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.9606 8.03969C16.2976 8.48058 16.2976 9.07578 15.9606 9.51596C14.8989 10.9019 12.3517 13.7556 9.37779 13.7556C6.40393 13.7556 3.85673 10.9019 2.79504 9.51596C2.63104 9.30485 2.54202 9.04515 2.54202 8.77783C2.54202 8.51051 2.63104 8.2508 2.79504 8.03969C3.85673 6.65374 6.40393 3.80005 9.37779 3.80005C12.3517 3.80005 14.8989 6.65374 15.9606 8.03969V8.03969Z" stroke="black" stroke-width="1.06667" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.37778 10.911C10.556 10.911 11.5111 9.95583 11.5111 8.77762C11.5111 7.59941 10.556 6.64429 9.37778 6.64429C8.19957 6.64429 7.24445 7.59941 7.24445 8.77762C7.24445 9.95583 8.19957 10.911 9.37778 10.911Z" stroke="black" stroke-width="1.06667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>  
                            </a>
                        </div>
                        <div class="hidden group-hover:flex items-center justify-center bg-black text-white font-poppins h-[29px] absolute bottom-12 left-0 right-0">
                            <a
                            href="#"
                            class="text-[11.38px] update-cart" 
                            data-product="{{ product.id }}" 
                            data-hx-post="{% url 'add_to_cart' product.id %}"
                            data-hx-target="#cart-count"
                            data-hx-swap="innerHTML"
                            data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            data-action="add"
                            hx-vals='{"action": "add"}'
                            >
                            Add To Cart
                            </a>
                        </div>
                        <div class="flex items-center justify-between bg-white w-full">
                            <div>
                                <h2 class="text-lg font-semibold">{{product.name}}</h2>
                                <p class="text-gray-600">${{product.price|floatformat:2}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat for other cards -->
                    {% endfor %}
            </div>
         </div>
         <!-- Cards end -->
     </div>
</div>


<script>
    var container = document.getElementById('container')
    var slider = document.getElementById('slider');
    var slides = document.getElementsByClassName('slide').length;
    var buttons = document.getElementsByClassName('btnn');
    
    
    var currentPosition = 0;
    var currentMargin = 0;
    var slidesPerPage = 0;
    var slidesCount = slides - slidesPerPage;
    var containerWidth = container.offsetWidth;
    var prevKeyActive = false;
    var nextKeyActive = true;
    
    window.addEventListener("resize", checkWidth);
    
    function checkWidth() {
        containerWidth = container.offsetWidth;
        setParams(containerWidth);
    }
    
    function setParams(w) {
        if (w < 551) {
            slidesPerPage = 1;
        } else {
            if (w < 901) {
                slidesPerPage = 2;
            } else {
                if (w < 1101) {
                    slidesPerPage = 3;
                } else {
                    slidesPerPage = 4;
                }
            }
        }
        slidesCount = slides - slidesPerPage;
        if (currentPosition > slidesCount) {
            currentPosition -= slidesPerPage;
        };
        currentMargin = - currentPosition * (100 / slidesPerPage);
        slider.style.marginLeft = currentMargin + '%';
        if (currentPosition > 0) {
            buttons[0].classList.remove('inactive');
        }
        if (currentPosition < slidesCount) {
            buttons[1].classList.remove('inactive');
        }
        if (currentPosition >= slidesCount) {
            buttons[1].classList.add('inactive');
        }
    }
    
    setParams();
    
    function slideRight() {
        if (currentPosition != 0) {
            slider.style.marginLeft = currentMargin + (100 / slidesPerPage) + '%';
            currentMargin += (100 / slidesPerPage);
            currentPosition--;
        };
        if (currentPosition === 0) {
            buttons[0].classList.add('inactive');
        }
        if (currentPosition < slidesCount) {
            buttons[1].classList.remove('inactive');
        }
    };
    
    function slideLeft() {
        if (currentPosition != slidesCount) {
            slider.style.marginLeft = currentMargin - (100 / slidesPerPage) + '%';
            currentMargin -= (100 / slidesPerPage);
            currentPosition++;
        };
        if (currentPosition == slidesCount) {
            buttons[1].classList.add('inactive');
        }
        if (currentPosition > 0) {
            buttons[0].classList.remove('inactive');
        }
    };
</script>